/* #region global */
.hidden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input {
  font-family: inherit;
}
/* #endregion global */

/* #region common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* #endregion common */

/* #region header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav,
.contacts {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}
.burger {
  padding: 0;
  border: none;
  background-color: transparent;
}
.icon-burger {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
  .header-nav-all {
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .header-nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:hover,
  .header-nav-link:focus,
  .address-link:hover,
  .address-link:focus,
  .header-nav-link.current {
    color: #404bbf;
  }

  .header-nav-link.current {
    position: relative;
  }

  .header-nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts {
    font-style: normal;
    display: block;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* #endregion header */

/* #region mobile menu  */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-nav-link {
  display: block;
  padding: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus {
  color: #404bbf;
}

.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-menu-address-link {
  display: block;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-address-link:hover,
.mobile-menu-address-link:focus {
  color: #4d5ae5;
}

.mobile-menu-icons-list {
  display: flex;
  gap: 40px;
}

.mobile-menu-icons-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-icons-link:hover,
.mobile-menu-icons-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion mobile menu */

/* #region section 1 */

.page-section-one {
  width: 320px;
  margin: 0 auto;
  background: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background/people-office1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-resolution: 2x) {
  .page-section-one {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/people-office2x.jpg);
  }
}

.section-one-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 72px;
}
.section-one-button {
  display: block;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  white-space: nowrap;
  border-radius: 4px;
  padding-block: 16px;
  padding-inline: 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-one-button:hover,
.section-one-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .page-section-one {
    width: 768px;
    padding: 112px 0;
  }
  .section-one-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .page-section-one {
    max-width: 1440px;
    width: 100%;
    padding: 188px 0;
  }
  .section-one-title {
    margin-bottom: 48px;
  }
}
/* #endregion section 1 */

/* #region section 2 */
.page-section-two {
  width: 100%;
  margin: 0;
  padding: 96px 0;
}
.section-two-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}
.section-two-element {
  width: 100%;
  margin: 0;
}
.box-icon {
  display: none;
}
.section-two-element-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}
.section-two-element-text {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .section-two-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .section-two-element {
    width: calc((100% - 24px) / 2);
  }
  .section-two-element-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .page-section-two {
    padding: 120px 0;
  }
  .section-two-list {
    gap: 24px;
  }
  .section-two-element {
    width: calc((100% - 72px) / 4);
  }
  .box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }
  .section-two-element-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .section-two-element-text {
    font-weight: 400;
  }
}
/* #endregion section 2 */

/* #region section 3 */
.section-three {
  background: #f4f4fd;
  margin: 0 auto;
  width: 100%;
  padding: 96px 0;
}
.section-three-title {
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-three-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  width: 100%;
  justify-content: center;
}
.section-three-card {
  text-align: center;
  border-radius: 0 0 4px 4px;
  padding-inline: 0px;
  width: 264px;
  height: auto;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.card-content {
  padding: 32px 0;
}
.name {
  text-align: center;
  margin-bottom: 8px;
}
.section-three-card-text {
  text-align: center;
  margin-bottom: 8px;
}
.social-icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: 40px;
}
.social-icons-li {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .section-three-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .section-three {
    padding: 120px 0;
  }
  .section-three-list {
    gap: 24px;
  }
  .section-three-card {
    width: calc((100% - 72px) / 4);
  }
}

/* #endregion section 3 */

/* #region section 4 */
.section-four {
  padding: 96px 0;
  width: 100%;
}
.section-four-title {
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-four-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
}
.section-four-card {
  width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-four-card:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.card-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  color: #f4f4fd;
}

.section-four-card:hover .overlay-text {
  transform: translateY(0);
}
.text-group {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding-block: 32px;
  padding-inline: 16px;
  width: 100%;
  height: 120px;
}
.section-four-card-title {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .section-four-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .section-four-card {
    width: calc((100% - 24px) / 2);
    border-radius: 0;
  }
  .text-group {
    width: 356px;
  }
}
@media screen and (min-width: 1158px) {
  .section-four {
    padding: 120px 0;
  }
  .section-four-list {
    gap: 40px 24px;
  }
  .section-four-card {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }
  .text-group {
    width: 360px;
  }
}
/* #endregion section 4 */

/* #region footer */
.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
  width: 100%;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin: 0 auto;
}
.box-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 288px;
  background-color: transparent;
  margin: 0;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}
.footer-text {
  text-align: left;
  width: 100%;
  color: #f4f4fd;
}
.footer-social-text {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
.footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}
.footer-icon {
  fill: #f4f4fd;
}
.footer-form {
  color: #f4f4fd;
}
.footer-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}
.footer-form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}
.footer-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  min-width: 288px;
  height: 40px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:focus {
  border: 1px solid #31d0aa;
}
.footer-form-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  min-width: 165px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.footer-button:hover,
.footer-button:focus {
  background-color: #31d0aa;
}

.footer-button-icon {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 108px;
  }
  .box-logo {
    width: 264px;
    align-items: flex-start;
  }
  .footer-social-text {
    text-align: left;
  }
  .footer-form-text {
    text-align: left;
  }
  .footer-form-container {
    flex-direction: row;
    text-align: start;
    gap: 24px;
  }
  .footer-form-input {
    min-width: 264px;
  }
  .footer-button {
    margin: 0;
  }
}
@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }
  .footer-container {
    gap: 0;
    align-items: baseline;
    padding-left: 15px;
  }
  .box-logo {
    margin-right: 120px;
  }
  .footer-form {
    margin-left: auto;
  }
}
/* #endregion footer */

/* #region modal-overlay */
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-overlay {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-btn:hover .icon-close-overlay,
.close-btn:focus .icon-close-overlay {
  fill: #ffffff;
}
.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-field {
  width: 100%;
  min-height: 58px;
  margin-bottom: 8px;
}
.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.input-wrapper {
  position: relative;
}
.form-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  max-width: 256px;
  height: 40px;
  padding-left: 34px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}
.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field-textarea {
  margin-bottom: 16px;
}

.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
  .form-input {
    max-width: 360px;
  }
}
@media screen and (min-width: 1158px) {
  .form-input {
    padding-left: 38px;
  }
}
/* #endregion modal-overlay */
