/* #region modal-overlay */

/* textarea */

.form-field-textarea {
  margin-bottom: 16px;
}

.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border-color: #4d5ae5;
}

.form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

/* checkbox */
.form-terms {
  margin-bottom: 24px;
}

.form-checkbox {
}

.form-terms-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-terms-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-terms-checkbox:active {
  background-color: #404bbf;
}

.terms-icon {
}

input:checked + label > .form-terms-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-policy {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

/* button */
.form-button {
  display: block;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  padding-block: 16px;
  padding-inline: 32px;
  width: 169px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}

/* #endregion modal-overlay */

/* #region media-mobile */

@media screen and (min-width: 320px) and (max-width: 767px) {
  img {
    display: block;
    max-width: 100%;
  }
  /* header */
  .header-nav,
  .contacts {
    display: none;
  }
  .burger {
    display: flex;
  }
  .header-nav-all {
    width: 100%;
    justify-content: space-between;
  }
  /* section 1 */
  .page-section-one {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .section-one-title {
    font-size: 36px;
    line-height: 1.11;
  }
  .box-icon {
    display: none;
  }
  /* section 2 */
  .page-section-two {
    padding: 96px 16px;
  }
  .section-two-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .section-two-element {
    width: 100%;
  }
  .section-two-element-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
  }
  .section-two-element-text {
    font-weight: 500;
  }
  /* section 3 */
  .section-three {
    padding: 96px 13px;
  }
  .section-three-list {
    width: 100%;
    flex-direction: column;
    gap: 72px;
  }
  .section-three-card {
    width: 100%;
    max-width: 264px;
    margin: 0 auto;
  }
  .card-content {
    padding: 32px 16px;
  }
  /* section 4 */
  .section-four {
    padding: 96px 1px;
  }
  .section-four-list {
    flex-direction: column;
    gap: 48px;
  }
  .section-four-card {
    width: 288px;
    height: 400px;
    margin: 0 auto;
  }
  .card-thumb img {
    width: 288px;
    height: 280px;
  }
  .text-group {
    width: 288px;
    height: 120px;
  }
  /* footer */
  .page-footer {
    padding: 96px 0;
  }
  .footer-container {
    flex-direction: column;
    width: 320px;
    gap: 72px;
    padding: 0 16px;
    margin: 0 auto;
  }
  .box-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 288px;
    height: 112px;
    margin: 0;
  }
  .footer-logo {
    display: block;
    margin: 0 auto;
  }
  .social-icons-box {
    display: flex;
    flex-direction: column;
    width: 208px;
    height: 80px;
    margin: 0 auto;
  }
  .footer-social-text {
    text-align: center;
  }
  .footer-form {
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 136px;
    margin: 0 auto;
  }
  .footer-form-text {
    text-align: center;
  }
  .footer-form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
/* #endregion media-mobile */

/* #region media-tablet */
/* #endregion media-tablet */
